* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.dashboard {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  background: linear-gradient(#0014a8, #00065e);
  color: white;
  padding: 25px;
  margin: 5px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar nav a {
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 6px;
  cursor: pointer;
}

.sidebar nav a.active,
.sidebar nav a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.footer {
  position: absolute;
  bottom: 20px;
  font-size: 14px;
}

/* Content */
.content {
  padding: 25px;
  background: #f0f0f0;
}

.content h1 {
  margin-bottom: 20px;
}

/* Stats */
.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}
/* text space */
h3,
p {
  margin: 10px 0;
  line-height: 1.3;
}

/* Cards */
.card1 {
  background: white;
  padding: 20px;
  border-radius: 12px;
}
.card2 {
  background: white;
  padding: 35px;
  border-radius: 12px;
}

/* Grid Section */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* Special cards */
.workshop {
  grid-column: span 1;
  grid-row: span 2;
  background: #ec4899;
  color: white;
}

.trees {
  grid-column: span 2;
  background: linear-gradient(to right, #9acd32, #3a7d1c);
  text-align: center;
  font-size: 40px;
}

.status {
  grid-column: span 2;
  background: linear-gradient(to right, #facc15, #f97316);
}

/* responsive tablet*

      /* Mobile */
@media (max-width: 425px) {
  /* cut space */
  .dashboard {
    grid-template-columns: 1fr;
  }

  .stats {
    grid-template-columns: 1fr;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .workshop,
  .trees,
  .status {
    grid-column: span 1;
    grid-row: span 1;
  }

  .sidebar,
  .footer {
    display: none;
  }
}

/* Tablet */
@media (min-width: 426px) and (max-width: 768px) {
  .stats {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .workshop,
  .trees,
  .status {
    grid-column: span 1;
    grid-row: span 1;
  }

  .sidebar,
  .footer {
    display: block;
  }

  .dashboard {
    grid-template-columns: 180px 1fr;
  }
}

/* Desktop */
@media (min-width: 769px) {
  .stats {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .dashboard {
    grid-template-columns: 250px 1fr; /* sidebar + content */
  }
}
